@import "../../../../styles/theme/varibales";
.subject-cover{

  img{
    width: 100%;
    height: auto;
  }
}
.edit-from-btn-group{
  margin-top: 20px;
}

.btn-custom{
  margin-right: 10px !important;
}


.react-tabs {
  &__tab-list {

    margin: 0 0 10px;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 10px 20px !important;
    cursor: pointer;

    &--selected {
      background: $green-main !important;
      border-color: $border-color !important;
      color: white !important;
      border-radius: $default-radius $default-radius 0 0 !important;
    }
    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }
  }
}
