.slider-title {
  width: 60%;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  h1 {
    font-family: LatoBold;
    font-size: 60px;
    color: #34495e;
  }
  li {
    margin-bottom: 10px;
  }
  ul{
    padding-top: 20px;
    text-align: left;
    font-size: 24px;
  }
}
