.elements-edit-form{
  margin-top: 20px;
}

.subject-cover{

  img{
    width: 100%;
    height: auto;
  }
}
.edit-from-btn-group{
  margin-top: 20px;
}

.btn-custom{
  margin-right: 10px !important;
}
