@import "../../../../styles/theme/varibales";
.answer-list {

  margin: 0;
  padding: 0;
  list-style: none;

  .answer-item {
    max-width: 400px;
    margin: 0 auto;

    > button {
      width: 100%;
    }

    &.correct {
      > button {
        background: #bcd460;
        border-bottom: 5px solid #aac347;
        border-left: 1px solid #aac347;
        border-right: 1px solid #aac347;
      }
    }

    &.incorrect {
      > button {
        background: $btn-red;
        border-bottom: 5px solid $btn-red;
        border-left: 1px solid #aac347;
        border-right: 1px solid #aac347;
      }
    }
  }
}
