$bg-color: #f5f5f5;
$card-margin-bottom :20px;

$true-green: #26a562;
$true-white: #ffffff;
$true-gray: #eaeced;
$btn-green: #aac246;
$btn-active-green: #9ab23a;
$btn-red: #e93836;
$btn-red-active: #CD2929;
$dark-gray: #dbddde;
$dark-white: #f9fafa;

$text-color: #444444;
$text-disabled: #fcfdf7;

$green-main: #bcd560;
$green-submain: #aac246;
$green-dark: #9ab23a;

$light-gray: #edeef0;

$border-color: #d6d6d6;

$gray-default: #c3c3c3;
$dark-gray: #edeef0;

$default-radius: 2px;
